@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

:root
{
    --accentGreen: #20c40e;
    --accentRed: #f2000c;
}

body
{
    min-height: 100vh;
    background-image: linear-gradient(-60deg, hsl(143, 100%, 10%) ,hsl(168, 94%, 13%)45%, hsl(0, 100%, 9%) );
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Syne Mono';
    margin: 0;
}

body::-webkit-scrollbar { display: none; }

#title
{
    font-size: 3rem;
    margin: .7em 0;
    position: relative;
}

#subTitle
{
    font-size: 2rem;
    margin: .4em 0;
}

#ytEmbed
{
    --factor: 3;
    font-size: 20px;
    border: none;
    margin: auto;
    height: calc(100vh / var(--factor));
    width: calc(100vw);
    max-width: calc(40rem );
    visibility: hidden;
    transition:
        border-radius ease 200ms,
        box-shadow ease 300ms;
}

#ytEmbed:hover
{
    border-radius: .7em;
    box-shadow:  0 0 1em .1em var(--accentRed);
}

#channelName
{
    font-size: 1.5rem;
    margin: 1em 0;
    position: relative;
}

#channelName::before
{
    content: '-';
    position: absolute;
    left: -1em;
    align-self: center;
}

#others
{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a
{
    text-decoration: none;
}

#th { color: var(--accentRed); }
#bs { color: var(--accentGreen); }

#links
{
    margin-top: 1.5em;
}

button
{
    border: none;
    background: none;
    margin: 0 1em;
}

img
{
    --size: 40px;
    height: var(--size);
}

button
{
    font-size: 20px;
    position: relative;
}

button::after, button::before
{
    content: '';
    position: absolute;
    height: .15em;
    width: 100%;
    transform: scaleX(0);
    transition: transform ease 300ms;
}

button::before
{
    background-color: var(--accentGreen);
    top: -.3em;
    left: 0;
    transform-origin: left;
}

button::after
{
    background-color: var(--accentRed);
    bottom: -.3em;
    left: 0;
    transform-origin: right;
}

button:hover::before
{
    transform: scaleX(1);
    transform-origin: right;
}

button:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}